* {
  margin: 0; /* 1: 4면에 대한 외부여백은 0 */
  padding: 0; /* 2: 4면에 대한 내부여백은 0*/
  box-sizing: border-box; /* 3: 여백을 포함한 크기계산 */
  /* border: 1px solid red; */ /* 4:여백부분,스타일을 죽인부분 */
}
ul {
  list-style: none; /* 5:구슬제거 */
}
a {
  text-decoration: none; /* 6:텍스트 밑줄 제거 */
}
body {
  background-color: seashell; /* 7:전체문서 배경색 */
}

/* section태그로 전체를 감쌈 */
.wrap {
  width: 340px; /* 8:가로크기 */
  padding: 30px; /* 9:내부여백크기 */
  background-color: white; /* 10:배경색상 */
  position: absolute; /* 11:좌표값에 따른 배치 */
  top: 50%; /* 12:y축 중앙배치 - 주의 요소의 왼쪽 상단 모서리위치*/
  left: 50%; /* 13:x축 중앙배치 */
  transform: translate(-50%, -50%); /* 14:요소의 중앙 위치를 잡음 */
}
.wrap .menu a {
  font-size: 20px;
  color: rgb(16, 38, 39);
}
/* float속성을 주면 부모가 감싸주던 값이 0이 되어 아이콘을 감싸주지 못한다
가상선택자를 선언하여 문제 해결 */
.wrap .menu ::after {
  /* 가상선택자인경우 :: */
  content: "";
  display: block;
  clear: both;
}
.wrap .menu a:nth-of-type(1) {
  float: left;
}
.wrap .menu a:nth-of-type(2) {
  float: right;
}

.wrap .profile {
  text-align: center;
  width: 100%;
}
.wrap .profile img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrap .profile h1 {
  font: bold 20px/1 "orbitron";
  letter-spacing: 1px;
  color: black;
  margin-bottom: 5px;
}
.wrap .profile p {
  font: bold 15px/1 "orbitron";
  letter-spacing: 1px;
  color: black;
  margin-bottom: 25px;
}

/* a태크 css활용하여 버튼으로 바꿔보기
 a태그는 인라인요소이다 */

.wrap .profile .detailBtn {
  display: block;
  width: 180px;
  height: 32px;
  /*margin시계방향 auto : 양옆  */
  margin: 0px auto 20px;
  font: bold 20px/30px "orbitron";
  background-color: rgb(92, 233, 200);
  color: black;
  text-shadow: 2px 2px 3px rgb(78, 238, 91);
  border-radius: 10px;
}
/* 인라인요소는 기본적으로 가운데정렬이 되고
 만일 block요소를 주면 기본적으로 왼쪽정렬 이것을 가운데 오게 하려면 margin에 auto를 준다 */

.wrap .contact {
  margin-bottom: 20px;
}

.wrap .contact li {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid;
}
.wrap .contact li i {
  width: 20%;
  text-align: center;
  opacity: 0.8;
}
.wrap .contact li span {
  font: 12px/1 "orbitron";
  letter-spacing: 1px; /* 글자간 간격벌려주기 */
  opacity: 0.8;
}
/* a(anchor)인라인요소 => 크기가 없다 */
.wrap .others {
  text-align: center;
  font-size: 0;
}

.wrap .others a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  margin: 0px 10px;
}
.wrap .others a:nth-of-type(1) {
  background-color: rgb(210, 164, 235);
}
.wrap .others a:nth-of-type(2) {
  background-color: rgb(192, 119, 231);
}
.wrap .others a:nth-of-type(3) {
  background-color: rgb(161, 43, 225);
}
