* {
  box-sizing: border-box;
  /*   border: 1px solid green; */
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding-left: 0;
  margin: 0;
  gap: 14px;
}
.header {
  display: flex;
  height: 4rem;
  padding: 0.5em;
  background-color: black;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}
.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}
.btnSearch {
  background-color: darkgray;
  outline: 0;
}
.imgSearch {
  height: 100%;
  padding: 0.5em 0.2em;
}

.container {
  width: 100%;
  padding: 0.2em;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /*  border: 1px solid lightblue; */
  box-shadow: 1px 1px 2px 1px lightblue;
  transition: tranform 250ms easy-in;
  cursor: pointer;
}
.video:hover {
  transform: scale(1.02);
}
.thumbnail {
  width: 40%;
  height: 100%;
}
.title {
  margin: 10px;
  font-size: 0.8rem;
}
.channelTitle {
  font-size: 0.6rem;
}

.detail {
  padding: 1em;
}
.description {
  white-space: pre-wrap; /* 줄바꿈 */
}
